<h2>#for문#<h2>

<br>문제 번호 : 2739<br>
<br>제목 : 구구단<br>

In [2]:
# 예제
# 2
#########
# 2 * 1 = 2
# 2 * 2 = 4
# 2 * 3 = 6
# 2 * 4 = 8
# 2 * 5 = 10
# 2 * 6 = 12
# 2 * 7 = 14
# 2 * 8 = 16
# 2 * 9 = 18

In [5]:
n = int(input())

for i in range(1, 10):
    print('{} * {} = {}'.format(n, i, n*i ))

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

---

<br>문제 번호 : 10950<br>
<br>제목 : A+B - 3<br>

In [12]:
# 예제
# 5
# 1 1
# 2 3
# 3 4
# 9 8
# 5 2
# #################
# 2
# 5
# 7
# 17
# 7

In [9]:
t = int(input())

for i in range(t):
    a, b = map(int, input().split())
    print(a + b)

5
1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

---

<br>문제 번호 : 8393<br>
<br>제목 : 합<br>

In [11]:
# 예제
# 3
# 6

In [24]:
sum = 0
n = int(input())
for i in range(n+1):
    sum = sum + i
    print(sum)

3
0
1
3
6

---

<br>문제 번호 : 15552<br>
<br>제목 : 빠른 A+B<br>

In [26]:
# 예제
# 5
# 1 1
# 12 34
# 5 500
# 40 60
# 1000 1000
# ############
# 2
# 46
# 505
# 100
# 2000

In [37]:
import sys

t = int(sys.stdin.readline())

for i in range(t):
    a , b = map(int, sys.stdin.readline().split())
    print(a + b)

---

<br>문제 번호 : 2741<br>
<br>제목 : N 찍기<br>

In [40]:
# 예제
# 5
# ########
# 1
# 2
# 3
# 4
# 5

In [42]:
n = int(input())

for i in range(1, n+1):
    print(i)

5
1
2
3
4
5

---

<br>문제 번호 : 2742<br>
<br>제목 : 기찍 N<br>

In [44]:
# 예제
# 5
# ########
# 5
# 4
# 3
# 2
# 1

In [47]:
n = int(input())

for i in range(n, 0, -1):
    print(i)

5
5
4
3
2
1

---

<br>문제 번호 : 11021<br>
<br>제목 : A+B - 7<br>

In [49]:
# 예제
# 5
# 1 1
# 2 3
# 3 4
# 9 8
# 5 2
# #######
# Case #1: 2
# Case #2: 5
# Case #3: 7
# Case #4: 17
# Case #5: 7

In [55]:
t = int(input())

for i in range(t):
    a , b = map(int, input().split())
    print('Case #{}: {}'.format(i+1, a+b))

5
1 1
Case #1: 2
2 3
Case #2: 5
3 4
Case #3: 7
9 8
Case #4: 17
5 2
Case #5: 7

---

<br>문제 번호 : 11022<br>
<br>제목 : A+B - 8<br>

In [56]:
# 예제
# 5
# 1 1
# 2 3
# 3 4
# 9 8
# 5 2
# #######
# Case #1: 1 + 1 = 2
# Case #2: 2 + 3 = 5
# Case #3: 3 + 4 = 7
# Case #4: 9 + 8 = 17
# Case #5: 5 + 2 = 7

In [57]:
t = int(input())

for i in range(t):
    a , b = map(int, input().split())
    print('Case #{}: {} + {} = {}'.format(i+1, a, b, a+b))

5
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5
3 4
Case #3: 3 + 4 = 7
9 8
Case #4: 9 + 8 = 17
5 2
Case #5: 5 + 2 = 7

---

<br>문제 번호 : 2438<br>
<br>제목 : 별 찍기 - 1<br>

In [59]:
# 예제
# 5
# ######
# *
# **
# ***
# ****
# *****

In [63]:
n = int(input())

for i in range(1, n+1):
    print('*' * i)

5
*
**
***
****
*****

---

<br>문제 번호 : 2439<br>
<br>제목 : 별 찍기 - 2<br>

In [65]:
# 예제
# 5
# #######
#     *
#    **
#   ***
#  ****
# *****

In [67]:
n = int(input())

for i in range(1, n+1):
    print(' ' * (n - i) + '*' * i)

5
    *
   **
  ***
 ****
*****

---

<br>문제 번호 : 10871<br>
<br>제목 : X보다 작은 수<br>

In [68]:
# 예제
# 10 5
# 1 10 4 9 2 3 8 5 7 6
# #####################
# 1 4 2 3

In [72]:
n , x = map(int, input().split())
a = list(map(int, input().split()))

for i in range(n) :
    if a[i] < x:
        print(a[i], end=' ')

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3