<h2>#if문#<h2>

<br>문제 번호 : 1330<br>
<br>제목 : 두 수 비교하기<br>

In [5]:
# 예제
# 1 2
# <
#########
# 10 2
# >
#########
# 5 5
# ==

In [12]:
A ,B = map(int, input(). split())
if A > B :
    print('>')
elif A < B :
    print('<')
else:
    print('==')

5 5
==

---

<br>문제 번호 : 9498<br>
<br>제목 : 시험 성적<br>

In [14]:
# 예제
# 100
# A

In [25]:
score = int(input())
if score >= 90 :
    print('A')
elif score >= 80 :
    print('B')
elif score >= 70 :
    print('C')
elif score >= 60 :
    print('D')
else:
    print('F')

59
F

---

<br>문제 번호 : 2753<br>
<br>제목 : 윤년<br>

In [26]:
# 예제
# 2000
# 1
############
# 1999
# 0
# 연도가 주어졌을 때, 윤년이면 1, 아니면 0을 출력하는 프로그램을 작성하시오.

윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다.

예를 들어, 2012년은 4의 배수이면서 100의 배수가 아니라서 윤년이다. 
1900년은 100의 배수이고 400의 배수는 아니기 때문에 윤년이 아니다. 
하지만, 2000년은 400의 배수이기 때문에 윤년이다.

In [3]:
year = int(input())
if ((year%4 == 0)and(year%100 !=0) or (year%400 == 0)):
    print('1')
else:
    print('0')

1994
0

---

<br>문제 번호 : 14681<br>
<br>제목 : 사분면 고르기<br>

In [6]:
# 예제
# 12
# 5
# 1
############
# 9
# -13
# 4
# 흔한 수학 문제 중 하나는 주어진 점이 어느 사분면에 속하는지 알아내는 것이다. 사분면은 아래 그림처럼 1부터 4까지 번호를 갖는다. "Quadrant n"은 "제n사분면"이라는 뜻이다.

# 예를 들어, 좌표가 (12, 5)인 점 A는 x좌표와 y좌표가 모두 양수이므로 제1사분면에 속한다. 점 B는 x좌표가 음수이고 y좌표가 양수이므로 제2사분면에 속한다.

# 점의 좌표를 입력받아 그 점이 어느 사분면에 속하는지 알아내는 프로그램을 작성하시오. 단, x좌표와 y좌표는 모두 양수나 음수라고 가정한다.

In [9]:
x = int(input())
y = int(input())

if x > 0 and y > 0 :
    print('1')
elif x < 0 and y > 0 :
    print('2')
elif x < 0 and y < 0 :
    print('3')
else :
    print('4')

12
-5
4

---

<br>문제 번호 : 2884<br>
<br>제목 : 알람 시계<br>

In [10]:
# 예제
# 10 10
# 9 25
# 0 30
# 23 45
# 입력한 시간 보다 45분 빠르게 알람 설정

In [15]:
h, m = map(int, input().split())

if m > 44:
    print(h,m-45)
elif m < 45 and h>0:
    print(h-1, m+15)
else:
    print(23,m+15)

11 25
10 40